@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :where(button, a, input, textarea, select):focus-visible {
        @apply outline-none ring-2 ring-red-500 ring-offset-2 ring-offset-transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold capitalize;
    }
    h1 {
        @apply mb-8 text-4xl lg:text-5xl uppercase;
    }
    h2 {
        @apply mb-6 text-3xl md:text-4xl;
    }
    h3 {
        @apply mb-2 text-xl lg:text-2xl;
    }
    section {
        @apply text-center;
    }
    a {
        @apply capitalize;
    }
}

@layer components {
    .icon-large {
        @apply w-32 h-32;
    }
    .icon-medium {
        @apply w-16 h-16;
    }
    .icon-small {
        @apply w-8 h-8;
    }
    .logo {
        @apply w-44 h-7 z-50;
    }
    .logo-text {
        @apply text-veryDarkBlue;
    }
    .btn {
        @apply px-6 py-3 inline-block capitalize cursor-pointer rounded-lg font-semibold transition-all duration-500 hover:shadow-md hover:shadow-black/10 active:shadow-none;
    }
    .btn-primary {
        @apply text-white bg-softBlue  hover:bg-softBlueShade1;
    }
    .btn-secondary {
        @apply text-white bg-softRed hover:bg-softRedShade1;
    }
    .btn-container {
        @apply flex flex-col md:flex-row justify-center items-center gap-2 text-xl;
    }

    .link-underline {
        @apply relative 
           after:content-[''] 
           after:absolute 
           after:left-0 
           after:-bottom-1 
           after:h-[0.1rem]
           after:w-full 
           after:bg-blue-100
           after:scale-x-0 
           after:origin-left 
           after:transition-transform 
           after:duration-300 
           after:ease-in-out;
    }

    .link-underline:hover {
        @apply after:scale-x-100;
    }

    .hover-link {
        @apply transition-colors duration-300 hover:text-softRed;
    }

    @media screen(lg) {
        .background-illustration {
            @apply absolute -z-10 w-[9999px] h-60 bg-softBlue;
        }
    }
}

/* hamburger nav */
.hamburger-btn {
    @apply relative z-50 cursor-pointer;
}
.hamburger-btn-icon {
    @apply inline text-veryDarkBlue;
}
.hamburger-btn-icon-close {
    @apply hidden;
}
.nav-open .hamburger-btn-icon {
    @apply hidden;
}
.nav-open .hamburger-btn-icon-close {
    @apply inline text-white;
}

.nav-open .logo-text {
    @apply text-white;
}
.nav-open .main-nav-btn-container {
    @apply flex flex-col justify-center items-stretch text-center gap-4 text-xl;
}

.main-nav-list {
    @apply invisible opacity-0 fixed inset-0 bg-softBlueShade2/70 backdrop-blur-sm pointer-events-none;
    transition:
        opacity 500ms ease,
        transform 500ms ease,
        visibility 0ms linear 500ms;
    transform: translateY(-20rem);
}

.nav-open .main-nav-list {
    @apply visible flex flex-col justify-center items-center gap-12 min-h-screen opacity-100 pointer-events-auto z-40 text-2xl text-white;
    transition:
        opacity 500ms ease,
        transform 500ms ease;
    transform: translateY(0);
}

@media screen(lg) {
    .nav-open .main-nav-list,
    .main-nav-list {
        @apply visible flex flex-row items-center justify-center gap-8 static min-h-fit bg-transparent opacity-100 transition-none transform-none pointer-events-auto text-xl text-veryDarkBlue;
    }

    .nav-open .logo-text {
        @apply text-veryDarkBlue;
    }

    .nav-open .main-nav-btn-container,
    .main-nav-btn-container {
        @apply flex flex-row justify-center items-center gap-4 text-xl;
    }
}

/* tabbed component */
.tabs-container {
    @apply flex flex-col md:flex-row items-center justify-center gap-4 md:justify-between md:gap-0 mb-16;
}

.tab {
    @apply p-4 md:text-lg text-center text-gray-600 hover:text-softRed capitalize transition-all;
}
.tab.selected {
    @apply border-b-4 border-softRed -translate-y-1;
}

.tab-panel {
    @apply hidden;
}
.tab-panel.selected {
    @apply p-4 flex flex-col md:flex-row items-center justify-center gap-4 md:gap-12;
}

.tab-panel.selected h3,
.tab-panel.selected p {
    animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
