@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :where(button, a, input, textarea, select):focus-visible {
        @apply outline-none ring-2 ring-red-500 ring-offset-2 ring-offset-transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold capitalize;
    }
    h1 {
        @apply mb-8 text-4xl md:text-5xl uppercase;
    }
    h2 {
        @apply mb-6 text-3xl md:text-4xl;
    }
    h3 {
        @apply mb-2 text-xl lg:text-2xl;
    }
    section {
        @apply text-center;
    }
}

@layer components {
    .icon-large {
        @apply w-32 h-32;
    }
    .icon-medium {
        @apply w-16 h-16;
    }
    .icon-small {
        @apply w-8 h-8;
    }
    .logo {
        @apply w-48 h-8;
    }
    .btn {
        @apply px-6 py-3 inline-block capitalize cursor-pointer font-semibold transition-all duration-500 hover:shadow-md hover:shadow-black/10 active:shadow-none;
    }
    .btn-primary {
        @apply text-white bg-black  hover:opacity-80;
    }
    .btn-secondary {
        @apply text-black bg-white hover:bg-black hover:text-white border-2 border-black hover:border-white;
    }

    .link-underline {
        @apply relative 
           after:content-[''] 
           after:absolute 
           after:left-0 
           after:-bottom-1 
           after:h-[0.1rem]
           after:w-full 
           after:bg-blue-100
           after:scale-x-0 
           after:origin-left 
           after:transition-transform 
           after:duration-300 
           after:ease-in-out;
    }

    .link-underline:hover {
        @apply after:scale-x-100;
    }

    .hover-link {
        @apply transition-colors duration-300 hover:text-red-800;
    }

    .gallery-img-container {
        @apply relative aspect-[654/240] md:aspect-[256/450] overflow-hidden;
    }
    .gallery-img {
        @apply w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110;
    }
    .gallery-img-caption {
        @apply absolute px-4 bottom-4 md:bottom-6 w-full md:w-4/5 text-3xl text-white text-center md:text-left transition-all duration-300 group-hover:text-red-800 group-hover:scale-105;
    }

    .img-with-gradient {
        @apply relative
            after:content-['']
            after:absolute
            after:inset-0
            after:bg-gradient-to-b
            after:from-transparent
            after:to-gray-500
            after:hover:from-gray-50
            after:hover:to-white
            after:hover:opacity-20;
    }

    /* hamburger nav */
    .hamburger-btn {
        @apply relative z-50 cursor-pointer;
    }
    .hamburger-btn-icon {
        @apply inline;
    }
    .hamburger-btn-icon-close {
        @apply hidden;
    }
    .nav-open .hamburger-btn-icon {
        @apply hidden;
    }
    .nav-open .hamburger-btn-icon-close {
        @apply inline;
    }

    .main-nav-list {
        @apply invisible opacity-0 absolute inset-0 bg-black  pointer-events-none;
        transition:
            opacity 500ms ease,
            transform 500ms ease,
            visibility 0ms linear 500ms;
        transform: translateY(-20rem);
    }

    .nav-open .main-nav-list {
        @apply visible flex flex-col justify-center items-center gap-12 min-h-screen opacity-100 pointer-events-auto z-40 text-xl;
        transition:
            opacity 500ms ease,
            transform 500ms ease;
        transform: translateY(0);
    }

    @media (min-width: 48em) {
        .nav-open .main-nav-list,
        .main-nav-list {
            @apply visible flex flex-row gap-8 static min-h-fit bg-transparent opacity-100 transition-none transform-none pointer-events-auto;
        }
    }
}

#section-hero {
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 48em) {
    #section-hero {
        background-image: url(../images/desktop/image-hero.jpg);
    }
}
