@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply min-h-screen;
    }
    :where(button, a, input, textarea, select):focus-visible {
        @apply outline-none ring-2 ring-accentBlue dark:ring-gray-500 ring-offset-2 ring-offset-accentCyan dark:ring-offset-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold capitalize;
    }
    h1 {
        @apply mb-8 text-4xl md:text-5xl text-red-500 uppercase;
    }
    h2 {
        @apply mb-6 text-3xl md:text-4xl text-red-500;
    }
    h3 {
        @apply mb-2 text-xl lg:text-2xl text-red-500;
    }
    section {
        @apply max-w-7xl mx-auto text-center px-10 py-16;
    }
    a {
        @apply capitalize;
    }
}

@layer components {
    .logo {
        @apply w-48 h-14;
    }
    .icon-large {
        @apply w-32 h-32;
    }
    .icon-medium {
        @apply w-16 h-16;
    }
    .icon-small {
        @apply w-6 h-6;
    }

    .btn {
        @apply px-6 py-3 inline-block capitalize cursor-pointer font-semibold rounded-lg transition-all duration-300 hover:shadow-md hover:shadow-black/10 active:shadow-none;
    }
    .btn-primary {
        @apply text-white bg-red-500  hover:opacity-80;
    }
    .btn-secondary {
        @apply text-white bg-red-500  hover:opacity-80;
    }
    .btn-container {
        @apply max-w-sm md:max-w-xl mx-auto flex flex-col md:flex-row justify-center items-center gap-2 text-xl;
    }
    .hover-link {
        @apply hover:text-accentCyan transition-colors duration-300;
    }

    .background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .body-background {
        background-image: url("../images/bg-curvy-light-mode.svg");
    }
    .dark .body-background {
        background-image: url("../images/bg-curvy-dark-mode.svg");
        background-color: theme(colors.darkBlue);
    }
    .logo-background {
        background-image: url("../images/logo-light-mode.svg");
    }
    .dark .logo-background {
        background-image: url("../images/logo-dark-mode.svg");
    }
}
