@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply min-h-screen;
    }
    :where(button, a, input, textarea, select):focus-visible {
        @apply outline-none ring-2 ring-accentBlue2 dark:ring-accentCyan2 ring-offset-2 ring-offset-transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold capitalize;
    }
    h1 {
        @apply mb-8 text-3xl md:text-4xl uppercase;
    }
    h2 {
        @apply mb-6 text-3xl md:text-4xl;
    }
    h3 {
        @apply mb-2 text-xl lg:text-2xl;
    }
    a {
        @apply capitalize;
    }
}

@layer components {
    .logo {
        @apply w-48 h-14;
    }
    .icon-large {
        @apply w-24 h-20;
    }
    .icon-medium {
        @apply w-16 h-16;
    }
    .icon-small {
        @apply w-6 h-6;
    }
    .icon-colored {
        @apply text-accentBlue dark:text-accentCyan;
    }
    .btn {
        @apply px-6 py-3 inline-block capitalize cursor-pointer font-semibold rounded-lg transition-all duration-300 hover:shadow-md hover:shadow-black/10 active:shadow-none;
    }
    .btn-primary {
        @apply text-white bg-accentBlue dark:bg-accentCyan hover:opacity-80;
    }
    .hover-link {
        @apply hover:text-accentBlue dark:hover:text-accentCyan transition-colors duration-300;
    }

    .background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .body-background {
        background-image: url("../images/bg-curvy-light-mode.svg");
        background-color: theme(colors.gray.100);
    }
    .dark .body-background {
        background-image: url("../images/bg-curvy-dark-mode.svg");
        background-color: theme(colors.darkBlue);
    }
    .logo-background {
        background-image: url("../images/logo-light-mode.svg");
    }
    .dark .logo-background,
    .logo-background-dark {
        background-image: url("../images/logo-dark-mode.svg");
    }
}
