@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :where(button, a, input, textarea, select):focus-visible {
        @apply outline-none ring-2 ring-cyan ring-offset-2 ring-offset-cyanLight;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold capitalize;
    }
    h1 {
        @apply mb-8 text-3xl lg:text-4xl xl:text-5xl uppercase;
    }
    h2 {
        @apply mb-6 text-3xl lg:text-4xl;
    }
    h3 {
        @apply mb-2 text-xl lg:text-2xl;
    }
    section {
        @apply text-center;
    }
    a {
        @apply capitalize;
    }
    p {
        @apply text-grayishViolet;
    }
    input {
        @apply rounded-lg p-2;
    }
}

@layer components {
    .icon-large {
        @apply w-32 h-32;
    }
    .icon-medium {
        @apply w-12 h-12;
    }
    .icon-small {
        @apply w-8 h-8;
    }
    .icon-wrapper {
        @apply max-w-fit rounded-full bg-darkViolet;
    }
    .icon-small-wrapper {
        @apply p-5;
    }
    .logo {
        @apply w-[7.5rem] h-8;
    }

    .btn {
        @apply px-8 py-3 inline-block capitalize cursor-pointer rounded-lg font-semibold transition-all duration-500 hover:shadow-md hover:shadow-black/10 active:shadow-none;
    }
    .btn-primary {
        @apply text-white bg-cyan  hover:bg-cyanDark;
    }
    .btn-secondary {
        @apply text-black bg-white hover:bg-grayishVioletLight hover:text-white;
    }
    .btn-container {
        @apply flex flex-col md:flex-row justify-center items-center gap-2 text-xl;
    }
    .hover-link {
        @apply transition-colors duration-300 hover:text-cyan;
    }

    .card {
        @apply rounded-lg bg-white shadow-md shadow-black/20 p-4;
    }
    .link-card {
        @apply flex flex-col items-center justify-center gap-4 md:flex-row md:justify-between md:gap-0;
    }
    .link-card .original-url,
    .link-card .shortened-url {
        @apply text-sm lg:text-base xl:text-lg text-center md:text-left break-all;
    }
    .link-card .original-url {
        @apply md:max-w-[50%];
    }
    .link-card .shortened-url {
        @apply font-semibold;
    }
    .link-card div {
        @apply flex flex-col md:flex-row items-center gap-2 md:gap-4;
    }
    .stats-card {
        @apply flex flex-col justify-center items-center z-10;
    }
    .stats-card p {
        @apply max-w-md md:max-w-full text-sm md:text-base;
    }
    .linking-border {
        @apply border-l-8 md:border-l-0 md:border-t-8  border-cyan absolute top-0 bottom-0 left-1/2 md:left-0 md:right-0 md:top-1/2;
    }

    #section-CTA {
        background-image: url("../images/bg-cta.svg");
        background-color: theme(colors.darkViolet);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .nav-open .main-nav-btn-container {
        @apply flex flex-col justify-center items-center gap-4 text-xl;
    }

    .main-nav-list {
        @apply invisible opacity-0 absolute inset-0 bg-black  pointer-events-none;
        transition:
            opacity 500ms ease,
            transform 500ms ease,
            visibility 0ms linear 500ms;
        transform: translateY(-20rem);
    }

    .nav-open .main-nav-list {
        @apply visible flex flex-col justify-center items-center gap-12 min-h-screen opacity-100 pointer-events-auto z-40 text-xl;
        transition:
            opacity 500ms ease,
            transform 500ms ease;
        transform: translateY(0);
    }

    @media (min-width: 64em) {
        .nav-open .main-nav-list,
        .main-nav-list {
            @apply visible flex flex-row gap-8 static min-h-fit bg-transparent opacity-100 transition-none transform-none pointer-events-auto;
        }
        .main-nav-btn-container {
            @apply flex flex-row justify-center items-center gap-4 text-xl;
        }
    }

    .hamburger-btn {
        @apply relative z-50 cursor-pointer;
    }
    .hamburger-btn-icon {
        @apply inline;
    }
    .hamburger-btn-icon-close {
        @apply hidden;
    }
    .nav-open .hamburger-btn-icon {
        @apply hidden;
    }
    .nav-open .hamburger-btn-icon-close {
        @apply inline;
    }

    #section-footer h3 {
        @apply text-whiteViolet;
    }

    #section-footer a {
        @apply hover:text-cyan;
    }
}
